.main-content {

  .product-list-page  {
    width: 100%;

    .product-list-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .filter-products {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
    }

    .product-table {
      margin-top: 10px;
    }

    .product-cards {
      margin-top: 10px;
    }

    .display-mode {
      margin-top: 10px;

      .display-button {
        font-size: 16px;
        margin-right: 10px;
        transition: 0.3s;
      }

      .display-button:hover {
        cursor: pointer;
        color: #1976D2;
      
      }

      .display-button-active {
        color: #1976D2;
      }

    }

    .input-filter {
      margin: 5px;
      width: 300px;
    }

  }   

}

