#user-layout {

  .card-login {
    width: 400px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);

    .logo span {
      color: #1976D2;
    }

    .logo {
      text-align: center;
    }

    .login-form-button {
      width: 100%;
    }

  }

}